<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=client-width, initial-scale=1" />
    <link rel="icon" href={~p"/favicon.ico"} sizes="any" />
    <link rel="icon" href={~p"/images/favicon.svg"} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={~p"/images/apple-touch-icon.png"} />
    <link rel="manifest" href={~p"/site.webmanifest"} />
    <meta name="theme-color" content="#331700" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>404 Not Found</title>
    <link
      phx-track-static
      rel="stylesheet"
      nonce={@conn.private.csp_nonce}
      href={~p"/assets/app.css"}
    />
    <link
      phx-track-static
      rel="stylesheet"
      nonce={@conn.private.csp_nonce}
      href={~p"/assets/main.css"}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      nonce={@conn.private.csp_nonce}
      src={~p"/assets/app.js"}
    >
    </script>
  </head>
  <body class="bg-neutral-50">
    <div class="flex items-center h-screen p-16 bg-gray-50">
      <div class="container mx-auto flex flex-col items-center">
        <div class="flex flex-col gap-6 max-w-md text-center">
          <img src={~p"/images/logo.svg"} class="mr-5 h-32" alt="Firezone Logo" />
          <h2 class="font-extrabold text-9xl text-primary-600">
            <span class="sr-only">Error</span>404
          </h2>
          <p class="text-2xl md:text-3xl">Sorry, we couldn't find this page.</p>
        </div>
      </div>
    </div>
  </body>
</html>
