REQUEST TO DELETE ACCOUNT!

Request details:
----------------
Account ID:   <%= @account.id %>
Account Slug: <%= @account.slug %>
Account Name: <%= @account.name %>
Actor ID:     <%= @subject.actor.id %>
Actor Name:   <%= @subject.actor.name %>
Identifier:   <%= @subject.identity.provider_identifier %>
