<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
  <msapplication>
    <tile>
      <square150x150logo src="<%= static_path("/images/mstile-150x150.png") %>" />
      <TileColor>331700</TileColor>
    </tile>
  </msapplication>
</browserconfig>
