<h1>Edit Firewall rule</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.firewall_rule_path(@conn, :update, @firewall_rule)) %>

<span><%= link "Back", to: Routes.firewall_rule_path(@conn, :index, @firewall_rule.device) %></span>
