# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

updates:
  - package-ecosystem: mix
    directory: elixir/
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    open-pull-requests-limit: 100
  - package-ecosystem: pip
    directory: /.github
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    open-pull-requests-limit: 100
  - package-ecosystem: github-actions
    directories:
      - "/.github/workflows"
      # Dependabot doesn't look in these by default
      - "/.github/actions/create-sentry-release"
      - "/.github/actions/ghcr-docker-login"
      - "/.github/actions/setup-android"
      - "/.github/actions/setup-azure-cli"
      - "/.github/actions/setup-azure-sign-tool"
      - "/.github/actions/setup-docker"
      - "/.github/actions/setup-elixir"
      - "/.github/actions/setup-gpg"
      - "/.github/actions/setup-musl"
      - "/.github/actions/setup-node"
      - "/.github/actions/setup-postgres"
      - "/.github/actions/setup-rust-nightly"
      - "/.github/actions/setup-rust-sccache"
      - "/.github/actions/setup-rust-stable"
      - "/.github/actions/setup-rust-target-cache"
      - "/.github/actions/setup-tauri-v2"
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    open-pull-requests-limit: 100
  - package-ecosystem: cargo
    directory: rust/
    open-pull-requests-limit: 100
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    groups:
      tauri:
        patterns:
          - tauri
          - tauri-*
      netlink:
        patterns:
          - rtnetlink
          - netlink-packet-*
      otel:
        patterns:
          - opentelemetry
          - opentelemetry_api
          - opentelemetry-otlp
          - tracing-opentelemetry
          - tracing-stackdriver
          - opentelemetry_sdk
        update-types:
          - minor
      windows:
        patterns:
          - windows
          - windows-core
          - windows-implement
          - windows-sys
      aya:
        patterns:
          - aya
          - aya-*
      rand:
        patterns:
          - rand
          - rand_*
      sentry:
        patterns:
          - sentry
          - sentry-*
  - package-ecosystem: gradle
    directory: kotlin/android/
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    open-pull-requests-limit: 100
    ignore:
      # Depends on JDK version which is bundled with Android Studio (JDK 17)
      - dependency-name: org.jetbrains.kotlin:kotlin-gradle-plugin
      - dependency-name: org.jetbrains.kotlin.android
    groups:
      com.android:
        patterns:
          - com.android.*
      com.squareup.moshi:
        patterns:
          - com.squareup.moshi.*
      AndroidX:
        patterns:
          - androidx.core:core-ktx
          - androidx.appcompat:appcompat
          - androidx.preference:preference-ktx
          - androidx.constraintlayout:constraintlayout
      lifecycle:
        patterns:
          - androidx.lifecycle:lifecycle-runtime-ktx
          - androidx.lifecycle:lifecycle-extensions
          - androidx.lifecycle:lifecycle-viewmodel-ktx
          - androidx.lifecycle:lifecycle-livedata-ktx
      navigation:
        patterns:
          - androidx.navigation:navigation-*
      hilt:
        patterns:
          - androidx.hilt:hilt-compiler
          - com.google.dagger.hilt.android
          - com.google.dagger:hilt-android
          - com.google.dagger:hilt-android-testing
          - com.google.dagger:hilt-android-compiler
      retrofit:
        patterns:
          - com.squareup.retrofit2:retrofit
          - com.squareup.retrofit2:converter-moshi
      okhttp:
        patterns:
          - com.squareup.okhttp3:okhttp
          - com.squareup.okhttp3:logging-interceptor
      moshi:
        patterns:
          - com.squareup.moshi:moshi
          - com.squareup.moshi:moshi-kotlin
      junit:
        patterns:
          - junit:junit
          - androidx.test.ext:junit
          - androidx.browser:browser
      firebase:
        patterns:
          - com.google.firebase:firebase-crashlytics-ktx
          - com.google.firebase:firebase-crashlytics-ndk
          - com.google.firebase:firebase-analytics-ktx

  - package-ecosystem: swift
    directory: swift/apple/FirezoneKit
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    open-pull-requests-limit: 100
  - package-ecosystem: npm
    directory: website/
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    open-pull-requests-limit: 100
  - package-ecosystem: npm
    directory: rust/gui-client/
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    open-pull-requests-limit: 100
    groups:
      tauri:
        patterns:
          - "@tauri-apps/*"
      tailwind:
        patterns:
          - tailwindcss
          - "@tailwindcss/*"
      sentry:
        patterns:
          - "@sentry/*"
      flowbite:
        patterns:
          - "flowbite"
          - "flowbite-react"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "react-router"
          - "@types/react"
          - "@types/react-dom"
  - package-ecosystem: npm
    directory: elixir/apps/web/assets/
    schedule:
      interval: weekly
    cooldown:
      default-days: 28
    open-pull-requests-limit: 100
