# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: mix
    directory: elixir/
    schedule:
      interval: monthly
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
  - package-ecosystem: cargo
    directory: rust/
    schedule:
      interval: weekly
    groups:
      netlink:
        patterns:
          - rtnetlink
          - netlink-packet-*
      otel:
        patterns:
          - opentelemetry
          - opentelemetry_api
          - opentelemetry-otlp
          - tracing-opentelemetry
          - tracing-stackdriver
          - opentelemetry_sdk
        update-types:
          - minor
      windows:
        patterns:
          - windows
          - windows-core
          - windows-implement
          - windows-sys
  - package-ecosystem: gradle
    directory: kotlin/android/
    schedule:
      interval: monthly
    ignore:
      # Depends on JDK version which is bundled with Android Studio (JDK 17)
      - dependency-name: org.jetbrains.kotlin:kotlin-gradle-plugin
      - dependency-name: org.jetbrains.kotlin.android
    groups:
      com.android:
        patterns:
          - com.android.*
      com.squareup.moshi:
        patterns:
          - com.squareup.moshi.*
      AndroidX:
        patterns:
          - androidx.core:core-ktx
          - androidx.appcompat:appcompat
          - androidx.preference:preference-ktx
          - androidx.constraintlayout:constraintlayout
      lifecycle:
        patterns:
          - androidx.lifecycle:lifecycle-runtime-ktx
          - androidx.lifecycle:lifecycle-extensions
          - androidx.lifecycle:lifecycle-viewmodel-ktx
          - androidx.lifecycle:lifecycle-livedata-ktx
      navigation:
        patterns:
          - androidx.navigation:navigation-*
      hilt:
        patterns:
          - androidx.hilt:hilt-compiler
          - com.google.dagger.hilt.android
          - com.google.dagger:hilt-android
          - com.google.dagger:hilt-android-testing
          - com.google.dagger:hilt-android-compiler
      retrofit:
        patterns:
          - com.squareup.retrofit2:retrofit
          - com.squareup.retrofit2:converter-moshi
      okhttp:
        patterns:
          - com.squareup.okhttp3:okhttp
          - com.squareup.okhttp3:logging-interceptor
      moshi:
        patterns:
          - com.squareup.moshi:moshi
          - com.squareup.moshi:moshi-kotlin
      junit:
        patterns:
          - junit:junit
          - androidx.test.ext:junit
          - androidx.browser:browser
      firebase:
        patterns:
          - com.google.firebase:firebase-crashlytics-ktx
          - com.google.firebase:firebase-crashlytics-ndk
          - com.google.firebase:firebase-analytics-ktx

  - package-ecosystem: swift
    directory: swift/apple/FirezoneKit/
    schedule:
      interval: monthly
  - package-ecosystem: npm
    directory: website/
    schedule:
      interval: monthly
  - package-ecosystem: npm
    directory: rust/gui-client/
    schedule:
      interval: monthly
  - package-ecosystem: npm
    directory: scripts/tests/browser/
    schedule:
      interval: monthly
  - package-ecosystem: npm
    directory: elixir/apps/web/assets/
    schedule:
      interval: monthly
  - package-ecosystem: terraform
    directory: terraform/environments/staging/
    schedule:
      interval: monthly
    groups:
      google:
        patterns:
          - hashicorp/google*
  - package-ecosystem: terraform
    directory: terraform/environments/production/
    schedule:
      interval: monthly
    groups:
      google:
        patterns:
          - hashicorp/google*
