[package]
name = "firezone-windows-client"
# mark:automatic-version
version = "1.0.0"
description = "Firezone"
edition = "2021"

[build-dependencies]
anyhow = { version = "1.0" }
tauri-build = { version = "1.5", features = [] }

[dependencies]
arboard = { version = "3.3.0", default-features = false }
anyhow = { version = "1.0" }
arc-swap = "1.6.0"
chrono = { workspace = true }
clap = { version = "4.4", features = ["derive",  "env"] }
connlib-client-shared = { workspace = true }
connlib-shared = { workspace = true }
crash-handler = "0.6.1"
firezone-cli-utils = { workspace = true }
git-version = "0.3.9"
hex = "0.4.3"
# Same crate Hickory uses
hostname = "0.3.1"
# This is the same crate hickory uses to get system resolvers
ipconfig = "0.3.2"
keyring = "2.3.2"
known-folders = "1.1.0"
minidumper = "0.8.1"
native-dialog = "0.7.0"
output_vt100 = "0.1"
rand = "0.8.5"
reqwest = { version = "0.11.22", default-features = false, features = ["stream", "rustls-tls"] }
ring = "0.17"
sadness-generator = "0.5.0"
secrecy = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
semver = { version = "1.0.22", features = ["serde"] }
subtle = "2.5.0"
tauri = { version = "1.5", features = [ "dialog", "shell-open-api", "system-tray" ] }
tauri-runtime = "0.14.2"
tauri-utils = "1.5.1"
thiserror = { version = "1.0", default-features = false }
tokio = { version = "1.36.0", features = ["time"] }
tracing = { workspace = true }
tracing-log = "0.2"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
url = { version = "2.5.0", features = ["serde"] }
uuid = { version = "1.7.0", features = ["v4"] }
tracing-panic = "0.1.1"
zip = { version = "0.6.6", features = ["deflate", "time"], default-features = false }

[target.'cfg(windows)'.dependencies]
tauri-winrt-notification = "0.1.3"
windows-implement = "0.52.0"
winreg = "0.52.0"
wintun = "0.4.0"

[target.'cfg(windows)'.dependencies.windows]
version = "0.52.0"
features = [
  # For implementing COM interfaces
  "implement",
  "Win32_Foundation",
  # For listening for network change events
  "Win32_Networking_NetworkListManager",
  # For deep_link module
  "Win32_Security",
  # COM is needed to listen for network change events
  "Win32_System_Com",
  # Needed for Windows to automatically kill child processes if the main process crashes
  "Win32_System_JobObjects",
  # Needed to check process ID of named pipe clients
  "Win32_System_Pipes",
  "Win32_System_Threading",
  # For deep_link module
  "Win32_System_SystemServices",
]

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
