apps/fz_http/assets/node_modules
apps/fz_http/priv/static/dist
apps/fz_http/priv/cert
_build
apps/fz_http/_build
apps/fz_wall/_build
apps/fz_vpn/_build
apps/fz_common/_build
**/cover
docs
.DS_Store
.git
