elixir/_build
elixir/deps
elixir/.elixir_ls
rust/target
kotlin/android/app/build
kotlin/android/.gradle
kotlin/android/.kotlin
kotlin/android/build
website/node_modules
website/.next
website/timestamps.json
**/*.sh
**/*.ex
**/*.rs
**/*.wxs
**/pnpm-lock.yaml
swift/apple/**/Contents.json
swift/apple/FirezoneKit/.build
rust/gui-client/src-frontend/generated
rust/gui-client/dist
rust/gui-client/node_modules
rust/gui-client/src-tauri/gen
rust/gui-client/.flowbite-react/class-list.json
