elixir/_build
elixir/deps
elixir/apps/web/assets
rust/target
kotlin/android/app/build
website/node_modules
website/.next
**/*.sh
**/*.ex
**/*.rs
**/*.wxs
**/pnpm-lock.yaml
swift/apple/**/Contents.json
