# These are used for the dev environment.
# This should match the versions used in the built product.
nodejs 18.19.0
elixir 1.15.7-otp-26
erlang 26.1.2
#terraform 1.6.6

# Used for static analysis
python 3.9.13
