# These are used for the dev environment.
# This should match the versions used in the built product.
nodejs 14.19.3
elixir 1.13.4-otp-25
erlang 25.0.1

# Used for static analysis
ruby 2.7.5
python 3.9.13
