# Used for static analysis
python 3.11.14
shfmt 3.9.0

# Used to lint Bash scripts
shellcheck 0.9.0

# Formatting
prettier 3.6.2

# Bash unit testing
bats 1.13.0

# GitHub Actions linting
actionlint 1.7.9
