[tools]
# Need to be defined here, not in .tool-versions as we're installing python-specific tools
# and asdf does not support this
# TODO: Use this instead of .github/requirements.txt for CI pre-commit job
"pipx:codespell" = "latest"
"pipx:pre-commit" = "latest"

[settings]
auto_install = true

[tasks.lint]
description = "Run pre-commit hooks on all files"
run = "pre-commit run --all-files --config .github/pre-commit-config.yaml"

[tasks.lint-staged]
description = "Run pre-commit hooks on staged files only"
run = "pre-commit run --config .github/pre-commit-config.yaml"
