@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *:is(h1, h2, h3, h4, h5, h6) {
    /* Fix anchor slug links and scroll position due to fixed navbar */
    @apply flex items-center gap-1 scroll-mt-20;
  }

  /* Remove styling for anchors inside headings */
  *:is(h1, h2, h3, h4, h5, h6) a {
    text-decoration: none !important;
    font-weight: 700 !important;
    color: var(--color-neutral-800) !important;
  }

  *:is(h1, h2, h3, h4, h5, h6) a:hover {
    text-decoration: underline !important;
  }

  *:is(code) {
    @apply overflow-x-auto rounded text-sm;
  }
}
