@import "tailwindcss";

@config '../../tailwind.config.mjs';

@variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
*,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-gray-200, currentcolor);
}

@utility fade-side {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 35%,
    rgb(0, 0, 0) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}

@utility animate-left {
  animation: 28s slide infinite linear;
}

@utility dark-scroll {
  /* For WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
  }

  &::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666; /* White color at 20% opacity */
    border-radius: 10px; /* Optional: Rounds the corners of the scrollbar thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: #222; /* White color at 40% opacity */
    border-radius: 10px; /* Optional: Rounds the corners of the scrollbar track */
  }

  /* For Firefox */
  * & {
    scrollbar-width: thin;
    scrollbar-color: #666 #222;
  }

  &::-ms-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
  }

  &::-ms-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2); /* White color at 20% opacity */
    border-radius: 10px; /* Optional: Rounds the corners of the scrollbar thumb */
  }

  &::-ms-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.4); /* White color at 40% opacity */
    border-radius: 10px; /* Optional: Rounds the corners of the scrollbar track */
  }

  &::-ms-scrollbar-button {
    display: none;
  }
}

@utility bg-hero {
  background-image: url("/images/ribbon.svg");
}

html {
  font-family: var(--font-source-sans-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-manrope);
}

/* Fix inline headings */
*:is(h1, h2, h3, h4, h5, h6) {
  @apply flex items-center gap-1;
}

/* Fix anchor slug links and scroll position due to fixed navbar */
*:is(h1, h2, h3, h4, h5, h6, li[id^="user-content-"]) {
  @apply scroll-mt-20;
}

/* Remove styling for anchors inside headings */
*:is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none !important;
  font-weight: 700 !important;
  color: var(--color-neutral-800) !important;
}

*:is(h1, h2, h3, h4, h5, h6) a:hover {
  text-decoration: underline !important;
}

*:is(code) {
  @apply overflow-x-auto rounded-sm text-sm;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
