<h1>Show Device</h1>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @device.name %>
  </li>

  <li>
    <strong>Verified at:</strong>
    <%= @device.verified_at %>
  </li>

  <li>
    <strong>Public key:</strong>
    <%= @device.public_key %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.device_path(@conn, :edit, @device) %></span>
<span><%= link "Back", to: Routes.device_path(@conn, :index) %></span>
