[Unit]
Description=FireZone
Requires=postgresql.service
After=postgresql.service

[Service]
Restart=on-failure
RestartSec=1
User=firezone
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_DAC_READ_SEARCH
EnvironmentFile=/opt/firezone/config.env
ExecStartPre=/opt/firezone/bin/firezone eval "FzHttp.Release.migrate"
ExecStart=/opt/firezone/bin/firezone start
# XXX: Remove sleeps
ExecStartPost=/bin/sleep 8
ExecStartPost=/opt/firezone/bin/firezone rpc "FzHttp.Release.create_admin_user"

[Install]
WantedBy=multi-user.target
