[Unit]
Description=CloudFire
Requires=postgresql.service
After=postgresql.service

[Service]
Restart=on-failure
RestartSec=1
User=cloudfire
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_DAC_READ_SEARCH
EnvironmentFile=/opt/cloudfire/config.env
ExecStartPre=/opt/cloudfire/bin/cloudfire eval "CfHttp.Release.migrate"
ExecStart=/opt/cloudfire/bin/cloudfire start
ExecStartPost=sleep 5
ExecStartPost=/opt/cloudfire/bin/cloudfire rpc "CfHttp.Release.create_admin_user"

[Install]
WantedBy=multi-user.target
