/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3400c2;
  --ifm-color-primary-dark: #766a60;
  --ifm-color-primary-darker: #4c3e33;
  --ifm-color-primary-darkest: #1b140e;
  --ifm-color-primary-light: #dfdedd;
  --ifm-color-primary-lighter: #ebebea;
  --ifm-color-primary-lightest: #f8f7f7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(205, 153, 153, 0.2);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ff7300;
  --ifm-color-primary-dark: #c25700;
  --ifm-color-primary-darker: #7f3900;
  --ifm-color-primary-darkest: #5c2900;
  --ifm-color-primary-light: #ffbc85;
  --ifm-color-primary-lighter: #ffddc2;
  --ifm-color-primary-lightest: #fff1e5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

table {
  display: table;
  width: 100%;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url(/img/github_light.svg) no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url(/img/github_dark.svg) no-repeat;
}

/* Show a border around Tab containers to make it more clear
 * where they end
 */
.tabs-container {
  background: rgba(100, 100, 100, 0.2);
  padding-bottom: 1.5rem;
}
