<section class="hero is-hero-bar">
  <div class="hero-body">
    <div class="block">
      <h1 class="title">
        <%= @page_title %>
      </h1>
    </div>
    <%= if assigns[:page_subtitle] do %>
      <div class="block">
        <p><%= @page_subtitle %></p>
      </div>
    <% end %>
  </div>
</section>
