<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=client-width, initial-scale=1" />
    <!-- iOS App Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href={~p"/images/apple-touch-icon.png"} />
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/images/favicon-32x32.png"} />
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/images/favicon-16x16.png"} />
    <!-- Windows App Favicon -->
    <meta name="msapplication-config" content={~p"/browser/config.xml"} />
    <meta name="msapplication-TileColor" content="331700" />
    <!-- Browser toolbar color -->
    <meta name="theme-color" content="331700" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Firezone">
      <%= assigns[:page_title] || "Firezone" %>
    </.live_title>
    <link
      phx-track-static
      rel="stylesheet"
      nonce={@conn.private.csp_nonce}
      href={~p"/assets/app.css"}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      nonce={@conn.private.csp_nonce}
      src={~p"/assets/app.js"}
    >
    </script>
  </head>
  <body class="">
    <%= @inner_content %>
  </body>
</html>
