<%= render FzHttpWeb.SharedView, "heading.html", page_title: @page_title %>

<section class="section is-main-section">
  <%= render FzHttpWeb.SharedView, "flash.html", assigns %>

  <h4 class="title is-4">Security Settings</h4>

  <div class="block">
    <p>
      Manage security-related settings.
    </p>
  </div>
</section>
