<%= render(FzHttpWeb.SharedView, "heading.html",
  page_subtitle: @page_subtitle,
  page_title: @page_title
) %>

<section class="section is-main-section">
  <%= render(FzHttpWeb.SharedView, "flash.html", assigns) %>

  <h4 class="title is-4">Site Defaults</h4>

  <div class="block">
    <%= live_component(
      FzHttpWeb.SettingLive.SiteFormComponent,
      changeset: @changeset,
      id: :site_form_component
    ) %>
  </div>
</section>
