/* Main Styles */

nav.navbar {
  border-bottom: 1px solid black;
}

.code {
  @extend .is-family-monospace;
}

pre.multiline {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.is-horizontally-scrollable {
  overflow-x: auto;
}

.is-vertically-scrollable {
  overflow-y: auto;
}

pre {
  background-color: $interface-000;
  color: $interface-600;
}

.dropdown-menu.is-large {
  width: 26rem;
}

.pre-wrapped {
  white-space: pre-wrap;
}

.is-main-section {
  overflow-x: auto;
}

.line-clamp {
  // supported in all browsers but with prefix
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-width: 600px;
  overflow: hidden;
}

.switch {
  &:hover input[type=checkbox]:disabled+.check {
    background: rgba(181, 181, 181, 1);
  }

  &:hover input[type=checkbox]:checked:disabled+.check {
    background: rgba(94, 0, 214, 1);
  }

  input[type=checkbox]:disabled+.check {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
