.feedbackWrapper {
  width: 100%;
  height: 200px;
  margin: 10px 0px;
  padding: 0px;
  background-color: transparent;
  border-radius: 12px;
}

.feedbackWrapper h1 {
  margin: 0 !important;
  font-size: 2rem;
}

.feedbackWrapper p {
  font-size: 1rem;
  margin-top: 10px;
}

.voteWrapper {
  margin-top: 10px;
  display: flex;
}
.voteWrapper button {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 1rem;
  margin: 10px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-out;
}

.voteWrapper button:first-child {
  margin-left: 0px;
}

.voteWrapper button:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

.voteWrapper button img {
  height: 20px;
  margin-right: 10px;
}
