.DS_Store

# Rust
/target
Cargo.lock

### Xcode ###
xcuserdata/
/.build
/Packages
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcarchive/
*.xcframework/

*.checksum.txt

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
