<%= live_redirect(
      to: Routes.notifications_index_path(FzHttpWeb.Endpoint, :index),
      title: "Notifications",
      class: "navbar-item has-divider is-desktop-icon-only",
      style: "height: 100%"
    ) do %>
  <%= if @count == 0 do %>
  <span class="icon has-text-grey-dark"><i class="mdi mdi-circle-outline"></i></span>
  <% else %>
  <span class="icon has-text-danger"><i class="mdi mdi-circle"></i><%=@count%></span>
  <% end %>
<%end%>
