<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FireGuard</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css">
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <section>
        <nav role="navigation">
          <ul>
            <li><a href="<%= Routes.device_path(@conn, :index) %>">Devices</a></li>
          </ul>
        </nav>
        <a href="<%= CfHttpWeb.Endpoint.url() %>">
          FireGuard
        </a>
      </section>
    </header>
    <main role="main">
      <p role="alert"><%= get_flash(@conn, :info) %></p>
      <p role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
