/* Main Styles */

nav.navbar {
  border-bottom: 1px solid black;
}

.code {
  @extend .is-family-monospace;
}

/* Add scrolling to the left nav bar */
aside.aside {
  overflow-y: auto;
}

pre {
  background-color: $interface-000;
  color: $interface-600;
}

.dropdown-menu.is-large {
  width: 26rem;
}

.pre-wrapped {
  white-space: pre-wrap;
}
