/* Main Styles */

nav.navbar {
  border-bottom: 1px solid black;
}

.code {
  @extend .is-family-monospace;
}

.is-horizontally-scrollable {
  overflow-x: auto;
}

.is-vertically-scrollable {
  overflow-y: auto;
}

pre {
  background-color: $interface-000;
  color: $interface-600;
}

.dropdown-menu.is-large {
  width: 26rem;
}

.pre-wrapped {
  white-space: pre-wrap;
}

.is-main-section {
  overflow-x: auto;
}
