[package]
name = "ip-packet"
version = "0.1.0"
edition = { workspace = true }
authors = ["Firezone, Inc."]
publish = false
license = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
proptest = ["dep:proptest"]
arbitrary = ["dep:arbitrary"]

[dependencies]
anyhow = { workspace = true }
arbitrary = { workspace = true, optional = true, features = ["derive"] }
bufferpool = { workspace = true }
etherparse = { workspace = true, features = ["std"] }
etherparse-ext = { workspace = true }
proptest = { workspace = true, optional = true }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
test-strategy = { workspace = true }

[lints]
workspace = true
