# Elixir
apps/web/assets/node_modules
apps/web/priv/static/dist
apps/web/priv/cert
apps/api/priv/static/dist
apps/api/priv/cert
_build
**/cover

# Documentation
docs

# MacOS
.DS_Store

# Git
.git
.gitignore
.gitmodules
.github
