# HTTPS dev certs
priv/pki/authorities/local/

# The directory Mix will write compiled artifacts to.
_build/

# If you run "mix test --cover", coverage assets end up here.
cover/

# The directory Mix downloads your dependencies sources to.
deps/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# The directory NPM downloads your dependencies sources to.
/assets/node_modules/

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/
apps/*/priv/static/

# Dialyxir output
/priv/plts/

# Test screenshots
apps/*/screenshots

# WG configs generated in acceptance tests
*.conf

# Uploads
apps/web/priv/static/uploads

# ElixirLS
# ElixirLS uses this directory to store its state.
.elixir_ls/
