// Colors

$fz-grey-dk-000: #90867f;
$fz-grey-dk-100: #766a60;
$fz-grey-dk-200: #4c3e33;
$fz-grey-dk-300: #1b140e;

$fz-grey-lt-000: #fcfcfc;
$fz-grey-lt-100: #f8f7f7;
$fz-grey-lt-200: #ebebea;
$fz-grey-lt-300: #dfdedd;

$fz-purple-000: #4805ff;
$fz-purple-100: #3400c2;
$fz-purple-200: #37007f;
$fz-purple-300: #28005c;

$fz-orange: #ff7300;

$link-color: $fz-purple-100;
$btn-primary-color: $fz-purple-100;

$body-heading-color: $fz-purple-300;
$body-text-color: $fz-grey-dk-200;

// Fonts

$body-font-family: "Inter", sans-serif;
$mono-font-family: "Fira Mono", monospace;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  font-weight: 600 !important;
  color: $fz-grey-dk-300 !important;
}
h1:first-child {
  margin-top: 0px !important;
}

hr {
  margin: 1rem 0 !important;
}

body {
  font-size: 15px !important;
}

code {
  font-size: 14px !important;
}

.main-content a {
  color: $fz-grey-dk-300 !important;
  border: 2px solid transparent;
  opacity: 1 !important;
  transition: all 0.2s ease-out;
  font-weight: 500;
}

.main-content a:not([class]):hover {
  background: none !important;
  border-bottom: 2px solid $fz-grey-dk-300;
}
.main-content a:not([class]) {
  background: none !important;
}

// Anchor

.anchor-heading {
  border: none !important;
}

.anchor-heading:hover {
  border: none !important;
}

// button

.btn {
  padding: 10px 20px !important;
  color: $fz-grey-dk-300 !important;
  background: $fz-grey-lt-300 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent !important;
}
.btn:hover {
  background: $fz-grey-lt-100 !important;
  border: 2px solid transparent !important;
}
.btn > a:hover {
  opacity: 1 !important;
}

.btn.btn-purple {
  background: $fz-purple-300 !important;
  color: white !important;
  border: 2px solid transparent !important;
}
.btn.btn-purple:hover {
  background: $fz-purple-100 !important;
  color: white !important;
  border: 2px solid transparent !important;
  opacity: 1 !important;
}

// Code

.language-shell,
.language-ruby,
.language-text,
.language-plaintext,
.language-bash {
  background-color: $fz-grey-dk-300 !important;
  margin: 2px !important;
  padding: 5px !important;
  border-radius: 6px !important;
}

code {
  background-color: transparent !important;
  color: white !important;
}

// Search Results
.search-icon {
  color: $fz-grey-dk-300 !important;
}
.search-result-doc .search-result-icon {
  color: $fz-grey-dk-300 !important;
}
.search-result-title {
  color: $fz-grey-dk-300 !important;
}
.search-result-highlight {
  color: $fz-grey-dk-300 !important;
}

// Other Styling

$header-height: 100px;

// Header
.site-header {
  margin-bottom: 20px !important;
}
.site-header .site-title {
  margin: 0px !important;
  padding: 0px !important;
}

.site-header .site-title:hover {
  background: none !important;
}

.site-header .site-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-header .site-logo-wrapper h1 {
  font-size: 1rem !important;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  color: $fz-grey-dk-300;
}

.site-header .site-logo-wrapper a:hover {
  background: none !important;
}

.site-header .site-logo {
  height: 2rem !important;
  width: 2rem !important;
  margin-right: 10px;
}

// Auxalary Buttons
.aux-nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aux-nav-list-item {
  margin: 5px !important;
  border-radius: 6px !important;
  height: 50px !important;
  background: $fz-grey-lt-100;
  color: $fz-grey-dk-300 !important;
}

.aux-nav-list a {
  color: $fz-grey-dk-300 !important;
}
.aux-nav-list a:hover {
  background: $fz-grey-lt-200;
  border-radius: 6px !important;
  border: none !important;
}

// Select Version
.select-version {
  width: 100% !important;
  margin: 0rem !important;
  padding: 1rem !important;
}

.select-version select {
  background-color: none;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: $fz-grey-lt-100;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  cursor: pointer;
}

.select-version select::-ms-expand {
  display: none;
}

// Site Nav

.site-nav {
  padding-top: 0 !important;
  margin-right: 20px !important;
}
.site-nav::-webkit-scrollbar {
  width: 0px !important;
}

// Side Bar

.side-bar {
  border: none !important;
  background-color: inherit !important;
}

// Nav List

.nav-list {
  padding-left: 0.25rem !important;
}
.nav-list:first-child {
  border-left: 0px;
}

.site-nav > .nav-list .nav-list-item {
  margin-top: 1.25rem;
  font-weight: 500;
  color: $fz-grey-dk-300 !important;
}

.site-nav > .nav-list .nav-list-item > .nav-list .nav-list-item {
  margin-top: 0px;
  font-weight: 400;
  color: $fz-grey-dk-200 !important;

  .nav-list-link {
    min-height: 1.25rem;
    line-height: 1.25rem;
    font-size: 13px;
  }
}

// Nav List Link

.nav-list-link {
  color: $fz-grey-dk-200 !important;
  border-radius: 6px !important;
  opacity: 0.7;
  transition: all 0.2s ease-out;
  border: 1px solid transparent;
  padding: 10px !important;
}
.nav-list-link:hover {
  background-color: $fz-grey-lt-200;
  background-image: none !important;
  border: 1px solid $fz-grey-dk-300;
}

.nav-list-link.active {
  color: $fz-grey-dk-300 !important;
  background-color: $fz-grey-lt-100;
  background-image: none !important;
  opacity: 1 !important;
  border-radius: 6px !important;
}

// Nav List Expander

.nav-list-expander {
  color: #1b140e !important;
  border-radius: 6px !important;
  height: 3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Main Content
.main-content-wrap {
  margin-top: 20px !important;
}
.main-content h1 {
  color: $fz-grey-dk-300 !important;
}

// Borders

$border-color: $fz-grey-lt-200;

// Container

$nav-width: 300px;

// Responsive Refinements

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  .site-header {
    min-height: 50px !important;
  }
  .site-header .site-title {
    margin-left: 5px !important;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  .site-header {
    min-height: 50px !important;
  }
  .site-header .site-title {
    margin-left: 5px !important;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
  .site-nav {
    margin-right: 0px !important;
  }
}
