<div class="block">
  <.link navigate={Routes.device_unprivileged_index_path(@socket, :index)}>
    &lt;- Back to devices
  </.link>
</div>
<%= render(FzHttpWeb.SharedView, "show_device.html", assigns) %>
