<div class="block">
  <%= live_patch(
      "<- Back to devices",
      to: Routes.device_unprivileged_index_path(@socket, :index),
      replace: true) %>
</div>
<%= render FzHttpWeb.SharedView, "show_device.html", assigns %>
