<h3 class="title is-3">Edit Rule</h3>

<%= render "form.html", Map.put(assigns, :action, Routes.rule_path(@conn, :update, @rule)) %>

<span><%= link "Back", to: Routes.device_rule_path(@conn, :index, @rule.device_id) %></span>
