<h3 class="title is-3">Edit Device</h3>

<%= render "form.html", Map.put(assigns, :action, Routes.device_path(@conn, :update, @device)) %>

<span><%= link "Back", to: Routes.device_path(@conn, :index) %></span>
