<h3 class="title is-3">New Device</h3>

<%= if @changeset.action do %>
  <p>
  The following errors occurred when creating this Device:

  <%= aggregated_errors(@changeset) %>
  </p>
<% end %>

<%= live_render(@conn, FgHttpWeb.NewDeviceLive, session: %{"user_id" => @session.id}) %>
