<h3>Magic sign-in link</h3>

<p>
  Dear Firezone user,
</p>

<p>
  Here is the <a href={@link}>magic sign-in link</a>. It is valid for 1 hour.
  If you didn't request for this, you can safely discard this email.
</p>

<small>
  If the link didn't work, please copy this link and open it in your browser.
  <%= @link %>
</small>
