<h3>Reset Password</h3>

<p>
Dear Firezone user,
</p>

<p>
You requested to reset your password. Here is the <a href={@link}>password reset link</a>.
If you didn't request for this, you can safely ignore this email.
</p>

<small>If the link didn't work, please copy this link and open it in your browser. <%= @link %></small>
