/*
 * fg-green: 6ece00;
 * fg-blue: 006ece;
 * fg-purple: 6000ce;
 * fg-orange: ce6000;
 * fg-yellow: cec700;
 * fg-red: ce0006;
 */
a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}

img.logo {
  position: fixed;
  left: 2ch;
  width: 5ch;
  height: 5ch;
}

nav {
  margin: auto;
  padding-top: 0;
  height: 6ch;
}

ul.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70ch;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}

ul.nav-links li a {
  display: block;
  padding: 2ch 0;
}

body {
  background-color: #006ece;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
}

main section {
  background-color: white;
}
div.content {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

footer {
  color: white;
  margin: auto;
  padding-top: 0;
  height: 6ch;
  height:
}

footer div {
  margin: 0 auto;
  padding: 2ch 0;
  max-width: 70ch;
}
