Package: firezone
Version: 0.2.0-1
Architecture: arm64
Maintainer: FireZone, LLC <dpkg@firez.one>
Depends: libc6, net-tools (>= 1.60+git20180626.aebd88e-1ubuntu1), systemd (>= 245.4-4ubuntu3.2), openssl (>= 1.1.1f-1ubuntu2), wireguard (>= 1.0.20200319-1ubuntu1), postgresql (>= 12+214ubuntu0.1), iptables (>= 1.8.4-3ubuntu2)
Section: net
Priority: optional
Homepage: https://firez.one
Description: Web UI + Firewall manager for WireGuard™
 Provides a web-based UI that allows you to configure WireGuard VPN tunnels and
 set up firewall rules for your devices.
