<%= render(Web.SharedView, "heading.html",
  page_subtitle: @page_subtitle,
  page_title: @page_title
) %>

<section class="section is-main-section">
  <%= render(Web.SharedView, "flash.html", assigns) %>

  <h4 class="title is-4">Client Defaults</h4>

  <div class="block">
    <%= live_component(
      Web.SettingLive.ClientDefaultsFormComponent,
      subject: @subject,
      changeset: @changeset,
      id: :client_defaults_form_component
    ) %>
  </div>
</section>
