<!DOCTYPE html>
<html
  lang="en"
  class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded"
>
  <head>
    <.live_title prefix="Firezone • ">
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={static_path("/dist/admin.css")} />
    <script defer phx-track-static type="text/javascript" src={static_path("/dist/admin.js")}>
    </script>
    <%= render(FzHttpWeb.SharedView, "head.html", assigns) %>
    <%= render(FzHttpWeb.SharedView, "socket_token_headers.html",
      conn: @conn,
      current_user: @current_user
    ) %>
  </head>
  <body>
    <div id="app">
      <nav id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
          <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
            <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
          </a>
        </div>
        <div class="navbar-brand is-right">
          <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
            <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
          </a>
        </div>
        <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable">
              <a class="navbar-link is-arrowless">
                <div class="is-user-name"><span><%= @current_user.email %></span></div>
                <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
              </a>
              <div class="navbar-dropdown">
                <%= link(to: ~p"/settings/account", class: "navbar-item") do %>
                  <span class="icon"><i class="mdi mdi-account"></i></span>
                  <span>Account Settings</span>
                <% end %>
                <hr class="navbar-divider" />
                <%= link(to: ~p"/sign_out", method: :delete, class: "navbar-item") do %>
                  <span class="icon"><i class="mdi mdi-logout"></i></span>
                  <span>Log Out</span>
                <% end %>
              </div>
            </div>
            <%= Phoenix.Component.live_render(@conn, FzHttpWeb.NotificationsLive.Badge,
              router: FzHttpWeb.Router
            ) %>
            <a
              target="_blank"
              href="https://docs.firezone.dev/?utm_source=product"
              title="Documentation"
              class="navbar-item has-divider is-desktop-icon-only"
            >
              <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
            </a>
            <a
              id="web-ui-connect-success"
              href="#"
              title="Secure websocket connected."
              class="navbar-item has-divider is-desktop-icon-only"
            >
              <span class="icon has-text-success"><i class="mdi mdi-wifi"></i></span>
            </a>
            <a
              id="web-ui-connect-error"
              href="#"
              title="Secure websocket not connected! Check docs.firezone.dev/administer/troubleshoot for help."
              class="is-hidden navbar-item has-divider is-desktop-icon-only"
            >
              <span class="icon has-text-danger"><i class="mdi mdi-wifi-off"></i></span>
            </a>
          </div>
        </div>
      </nav>

      <%= @inner_content %>

      <footer class="footer">
        <div class="container-fluid">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                🎉
                &nbsp;
                <strong>
                  0.6.0 is here!
                  <a href={"https://blog.firezone.dev/release-0-6-0/?utm_source=product&uid=#{FzHttp.Config.fetch_env!(:fz_http, :telemetry_id)}"}>
                    Click here to read more.
                  </a>
                </strong>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <a href={"https://github.com/firezone/firezone/tree/refs/tags/#{application_version()}"}>
                  Version <%= application_version() %>
                </a>
              </div>
              <div class="level-item">
                <div class="logo">
                  <a href="https://firezone.dev?utm_source=product">
                    <img src={static_path("/images/logo.svg")} alt="firezone.dev" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
