<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "FireZone" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, \"/css/app.css\") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
  </head>
<body>
<section class="section hero is-fullheight is-error-section">
<div id="app" class="hero-body">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <%= @inner_content %>
      </div>
    </div>
  </div>
</div>
</section>
</body>
</html>
