<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>Firezone</title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/device_config.js")}></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="331700">
    <meta name="theme-color" content="331700">
  </head>
<body>
<section class="section hero is-fullheight is-error-section">
  <div id="app" class="hero-body">
    <div class="container">
      <div class="block">
        <div class="has-text-centered">
          <img src={Routes.static_path(@conn, "/images/logo-text.svg")} alt="firez.one">
        </div>
      </div>
      <%= @inner_content %>
    </div>
  </div>
</section>
</body>
</html>
