<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "FireZone" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <h4 class="title is-4 navbar-item">
            FireZone
          </h4>
        </div>
        <div class="navbar-menu">
          <%= if assigns[:current_user] do %>
            <div class="navbar-start">
              <%= live_redirect("Devices", to: Routes.device_index_path(@conn, :index), class: "navbar-item") %>
            </div>
          <% end %>
        </div>
        <div class="navbar-end">
          <%= if assigns[:current_user] do %>
            <div class="navbar-item">
              <%= live_redirect("Your Account", to: Routes.account_show_path(@conn, :show)) %>
            </div>
            <div class="navbar-item">
              <%= link("Sign out", to: Routes.session_path(@conn, :delete), method: :post) %>
            </div>
          <% else %>
            <div class="navbar-item">
              <%= live_redirect("Sign in", to: Routes.session_new_path(@conn, :new)) %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <section class="section">
      <%= @inner_content %>
    </section>
  </body>
</html>
