<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title], prefix: "Firezone • " %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="331700">
    <meta name="theme-color" content="331700">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
  </head>
  <body>
<div id="app">
  <nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
        <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
      </a>
    </div>
    <div class="navbar-brand is-right">
      <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
        <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
      </a>
    </div>
    <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable">
          <a class="navbar-link is-arrowless">
            <div class="is-user-name"><span><%= @current_user.email %></span></div>
            <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
          </a>
          <div class="navbar-dropdown">
            <%= link(to: Routes.account_show_path(@conn, :show), class: "navbar-item") do %>
              <span class="icon"><i class="mdi mdi-settings"></i></span>
              <span>Settings</span>
            <% end %>
            <hr class="navbar-divider">
            <%= link(to: Routes.session_path(@conn, :delete), method: :delete, class: "navbar-item") do %>
              <span class="icon"><i class="mdi mdi-logout"></i></span>
              <span>Log Out</span>
            <% end %>
          </div>
        </div>
        <a href="https://github.com/firezone/firezone/wiki" title="Documentation" class="navbar-item has-divider is-desktop-icon-only">
          <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
          <span>Documentation</span>
        </a>
      </div>
    </div>
  </nav>
  <aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div class="aside-tools-label">
        <span>Firezone</span>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">Configuration</p>
      <ul class="menu-list">
        <li>
          <%= link(to: Routes.user_index_path(@conn, :index), class: nav_class(@conn.request_path, "users")) do %>
            <span class="icon"><i class="mdi mdi-account-group"></i></span>
            <span class="menu-item-label">Users</span>
          <% end %>
        </li>
        <li>
          <%= link(to: Routes.device_index_path(@conn, :index), class: nav_class(@conn.request_path, "devices")) do %>
            <span class="icon"><i class="mdi mdi-laptop-windows"></i></span>
            <span class="menu-item-label">Devices</span>
          <% end %>
        </li>
        <li>
          <%= link(to: Routes.rule_index_path(@conn, :index), class: nav_class(@conn.request_path, "rules")) do %>
            <span class="icon"><i class="mdi mdi-plus-network"></i></span>
            <span class="menu-item-label">Rules</span>
          <% end %>
        </li>
      </ul>
      <p class="menu-label">Settings</p>
      <ul class="menu-list">
        <li>
          <%= link(to: Routes.account_show_path(@conn, :show), class: nav_class(@conn.request_path, "account")) do %>
            <span class="icon"><i class="mdi mdi-account"></i></span>
            <span class="menu-item-label">Account</span>
          <% end %>
        </li>
      </ul>
    </div>
  </aside>

  <%= @inner_content %>

  <footer class="footer">
    <div class="container-fluid">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <%= link(to: "mailto:" <> feedback_recipient()) do %>
              Leave us feedback!
            <% end %>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a href={"https://github.com/firezone/firezone/tree/#{github_sha()}"}>
              Version <%= application_version() %>
            </a>
          </div>
          <div class="level-item">
            <div class="logo">
              <a href="https://firez.one"><img src="/images/logo.svg" alt="firez.one"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</body>
</html>
