<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.networkextension.packet-tunnel</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PacketTunnelProvider</string>
	</dict>
	<key>AppGroupIdentifier</key>
	<string>$(APP_GROUP_ID)</string>
	<key>LSEnvironment</key>
	<dict>
		<key>SWIFT_UNEXPECTED_EXECUTOR_LOG_LEVEL</key>
		<string>1</string>
		<key>SWIFT_IS_CURRENT_EXECUTOR_LEGACY_MODE_OVERRIDE</key>
		<string>nocrash</string>
	</dict>
</dict>
</plist>
