<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="RemoveOldFirezoneService" Guid="2cfa312f-9a0a-4a3c-bfe8-c7304f69a467">
        <ServiceControl Id="RemoveOldFirezoneService" Name="FirezoneClientIpcService"
          Stop="both" Remove="both" Wait="yes" />
        <ServiceControl Id="RemoveOldFirezoneDebugService" Name="FirezoneClientIpcServiceDebug"
          Stop="both" Remove="both" Wait="yes" />

        <!--
          Hack to make the rename of the service work:

          The Windows installer wants to close already running applications and it detects those by checking
        whether the file is in use.
          If we rename the service file, it the new name will not be in used and therefore, Windows won't
        shut it down prior to installation.

          It will however try to shut the GUI process down by sending WM_CLOSE. Firezone typically doesn't
        have any Windows open and therefore,
          WM_CLOSE does nothing and the installer hangs forever trying to close our program.

          To fix this, we install the service binary under the old AND new name to force the installer to
        shut down the service.
          The duplicate file is removed as part of a custom action in `main.wxs`
        -->
        <File Id="FirezoneClientIpcServiceExe" Name="firezone-client-ipc.exe"
          Source="../../firezone-client-tunnel.exe" KeyPath="yes" />
      </Component>

      <Component Id="FirezoneClientTunnelService" Guid="bd082abf-bd17-4e6f-aed1-4126a8596ecd">
        <File Id="FirezoneClientTunnelServiceExe" Name="firezone-client-tunnel.exe"
          Source="../../firezone-client-tunnel.exe" KeyPath="yes" />

        <ServiceInstall
          Id="FirezoneClientTunnelServiceInstaller"
          Arguments="run"
          Type="ownProcess"
          Vital="yes"
          Name="FirezoneClientTunnelService"
          DisplayName="Firezone Tunnel Service"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="normal"
          Interactive="no">
        </ServiceInstall>

        <ServiceControl Id="FirezoneClientTunnelServiceControl" Start="install" Stop="both"
          Remove="both" Name="FirezoneClientTunnelService" Wait="yes" />

        <!-- Configure service to restart automatically on failure -->
        <util:ServiceConfig
          ServiceName="FirezoneClientTunnelService"
          FirstFailureActionType="restart"
          SecondFailureActionType="restart"
          ThirdFailureActionType="restart"
          RestartServiceDelayInSeconds="5"
          ResetPeriodInDays="1" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
