<div class="min-h-screen flex flex-col bg-page">
  <div class="flex items-center gap-2.5 h-14 px-3 shrink-0">
    <img src="/images/logo.svg" class="h-6 w-auto shrink-0" alt="Firezone Logo" />
    <span class="font-semibold text-heading">Firezone</span>
  </div>

  <div class="flex-1 flex items-center justify-center px-4 pb-12">
    <div class="w-full max-w-lg">
      {@inner_content}
    </div>
  </div>
</div>
