[package]
name = "firezone-tunnel"
version = "0.1.0"
edition = { workspace = true }
license = { workspace = true }

[dependencies]
anyhow = { workspace = true }
base64 = { workspace = true, features = ["std"] }
bimap = { workspace = true }
boringtun = { workspace = true }
bytes = { workspace = true, features = ["std"] }
chrono = { workspace = true }
connlib-model = { workspace = true }
derive_more = { workspace = true, features = ["debug"] }
divan = { workspace = true, optional = true }
dns-over-tcp = { workspace = true }
domain = { workspace = true }
firezone-logging = { workspace = true }
flume = { workspace = true, features = ["async"] }
futures = { workspace = true, features = ["std", "async-await", "executor"] }
futures-bounded = { workspace = true }
futures-util = { workspace = true, features = ["std", "async-await", "async-await-macro"] }
gat-lending-iterator = { workspace = true }
glob = { workspace = true }
hex = { workspace = true }
ip-packet = { workspace = true }
ip_network = { workspace = true }
ip_network_table = { workspace = true }
itertools = { workspace = true, features = ["use_std"] }
lockfree-object-pool = { workspace = true }
lru = { workspace = true }
proptest = { workspace = true, optional = true }
rand = { workspace = true }
rangemap = { workspace = true }
ringbuffer = { workspace = true }
secrecy = { workspace = true, features = ["serde"] }
serde = { workspace = true, features = ["derive", "std"] }
serde_json = { workspace = true }
snownet = { workspace = true }
socket-factory = { workspace = true }
socket2 = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true, features = ["attributes"] }
tun = { workspace = true }
uuid = { workspace = true, features = ["std", "v4"] }

[dev-dependencies]
firezone-relay = { workspace = true, features = ["proptest"] }
ip-packet = { workspace = true, features = ["proptest"] }
proptest-state-machine = { workspace = true }
rand = { workspace = true }
sha2 = { workspace = true }
test-case = { workspace = true }
test-strategy = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[[bench]]
name = "divan"
harness = false
required-features = ["divan"]

[features]
proptest = ["dep:proptest"]
divan = ["dep:divan"]

[lints]
workspace = true
