[package]
name = "bufferpool"
version = "0.1.0"
edition = { workspace = true }
license = { workspace = true }

[lib]
path = "lib.rs"

[dependencies]
bytes = { workspace = true }
crossbeam-queue = { workspace = true }
opentelemetry = { workspace = true, features = ["metrics"] }
tracing = { workspace = true }

[dev-dependencies]
opentelemetry_sdk = { workspace = true, features = ["testing", "metrics"] }
tokio = { workspace = true, features = ["macros", "rt"] }

[lints]
workspace = true
