.DocSearch-Button {
  width: 100% !important;
  margin: 0 !important;
  border: 1px solid #c7c4c2 !important;
  border-radius: 0.25rem !important;
  background-color: #ebebea !important;
  color: #766a60 !important;
  outline: none !important;
  box-shadow: 0 0 0 0px !important;
  transition: all 100ms !important;
}

.DocSearch-Button:hover {
  box-shadow: 0 0 0 2px #d2c2ff !important;
}

.DocSearch-Search-Icon {
  color: #766a60 !important;
}

.DocSearch-Input {
  outline: none !important;
  box-shadow: none !important;
  color: #4c3e33 !important;
}

.DocSearch-Form {
  margin-bottom: 0.25rem !important;
  box-shadow: 0 0 0 2px #4805ff !important;
}
