<h3>Sign Up</h3>

<%= form_for @changeset, Routes.user_path(@conn, :new), fn f -> %>
  <%= if @changeset.action do %>
    <div>
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <label>
    Email: <%= text_input f, :email %>
  </label>

  <br>

  <label>
    Password: <%= text_input f, :password %>
  </label>

  <br>

  <label>
    Password Confirmation: <%= text_input f, :password_confirmation %>
  </label>

  <%= submit "Submit" %>
<% end %>
