// You Apple developer account's Team ID
DEVELOPMENT_TEAM = <team_id>

// The bundle identifier of the apps.
// Should be an app id created at developer.apple.com
// with Network Extensions capabilty.
PRODUCT_BUNDLE_IDENTIFIER = <app_id>
