<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>dev.firezone.firezone</key>
    <string>07102026-065f-4cc0-800b-5f8595c50ce8</string>

    <key>dev.firezone.firezone.network-extension</key>
    <string>c6feb05e-063a-4429-8563-57c1d2755067</string>
  </dict>
</dict>
</plist>
