<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firezone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>firezone</string>
			</array>
		</dict>
	</array>
	<key>AppGroupIdentifier</key>
	<string>$(APP_GROUP_ID)</string>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
  <key>GitSha</key>
  <string>$(GIT_SHA)</string>
</dict>
</plist>
