// Apple Developer account-specific configuration
DEVELOPMENT_TEAM = 47R2M6779T
APP_ID = dev.firezone.firezone
APP_GROUP_ID[sdk=macosx*] = $(DEVELOPMENT_TEAM).group.$(APP_ID)
APP_GROUP_ID[sdk=iphoneos*] = group.$(APP_ID)
IOS_APP_PROVISIONING_PROFILE_IDENTIFIER = c034090d-26b6-4579-be1b-3e6f64ed0cad
MACOS_APP_PROVISIONING_PROFILE_IDENTIFIER = 8284fa22-88ec-4db4-9e8e-f392c67d5033
IOS_NE_PROVISIONING_PROFILE_IDENTIFIER = afd68841-c75b-468f-8901-dcfb91c11685
MACOS_NE_PROVISIONING_PROFILE_IDENTIFIER = a8b1f1b0-f951-42c0-9489-8dc70a383bfa

// Portal Auth
AUTH_URL_SCHEME = http
AUTH_URL_HOST = localhost:8080
CONTROL_PLANE_URL_SCHEME = ws
CONTROL_PLANE_URL_HOST = localhost:8081
