// Apple Developer account-specific configuration
DEVELOPMENT_TEAM = 47R2M6779T
PRODUCT_BUNDLE_IDENTIFIER = dev.firezone.firezone
APP_GROUP_ID[sdk=macosx*] = $(DEVELOPMENT_TEAM).group.$(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_ID[sdk=iphoneos*] = group.$(PRODUCT_BUNDLE_IDENTIFIER)
CODE_SIGN_STYLE = Automatic

// Portal Auth
AUTH_URL_SCHEME = http
AUTH_URL_HOST = localhost:8080
CONTROL_PLANE_URL_SCHEME = ws
CONTROL_PLANE_URL_HOST = localhost:8081
