// Apple Developer account-specific configuration
DEVELOPMENT_TEAM = 47R2M6779T
APP_ID = dev.firezone.firezone
APP_GROUP_ID[sdk=macosx*] = $(DEVELOPMENT_TEAM).group.$(APP_ID)
APP_GROUP_ID[sdk=iphoneos*] = group.$(APP_ID)
IOS_PROVISIONING_PROFILE_IDENTIFIER = b32a5853-699d-4f19-85d3-5b13b1ac5dbb
MACOS_PROVISIONING_PROFILE_IDENTIFIER = 70055d90-0252-4ee5-a60c-4d6f3840ee62

// Portal Auth
AUTH_URL_SCHEME = http
AUTH_URL_HOST = localhost:8080
CONTROL_PLANE_URL_SCHEME = ws
CONTROL_PLANE_URL_HOST = localhost:8081

// Connlib configuration
CONNLIB_SOURCE_DIR = $(PROJECT_DIR)/../../rust/connlib/clients/apple
CONNLIB_TARGET_DIR = $(PROJECT_DIR)/../../rust/target
