// Configure the Authentication URL and the Control Plane URL

AUTH_URL_SCHEME = <auth_uri_scheme>
AUTH_URL_HOST = <auth_uri_host>
CONTROL_PLANE_URL_SCHEME = <control_plane_websocket_uri_scheme>
CONTROL_PLANE_URL_HOST = <control_plane_websocket_uri_host>
