<%= render FzHttpWeb.SharedView, "heading.html", page_title: @page_title %>

<section class="section is-main-section">
  <%= render FzHttpWeb.SharedView, "flash.html", assigns %>

  <div class="content">
    <%= render FzHttpWeb.SharedView, "devices_table.html", devices: @devices, socket: @socket %>
  </div>

  <button class="button is-primary" phx-click="create_device">
    Add Device
  </button>
</section>
