--swiftversion 6.1
--binarygrouping none
--decimalgrouping none
--hexgrouping none
--indent 2
--octalgrouping none
--semicolons never
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--extensionacl on-declarations
--maxwidth 100
--header \n {file}\n (c) {created.year} Firezone, Inc.\n LICENSE: Apache-2.0\n
--exclude FirezoneNetworkExtension/Connlib/Generated/**
