<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FireGuard</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css">
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header class="w-100 fixed bg-black-90 ph3 pv3 ph4-m ph5-l">
      <nav class="f6 fw6 ttu tracked fl">
        <a class="link dim white dib mr3" href="<%= FgHttpWeb.Endpoint.url() %>">FireGuard</a>
      </nav>
      <nav class="f6 fw6 ttu tracked fr">
        <a class="link dim white dib mr3" href="<%= Routes.device_path(@conn, :index) %>">Devices</a>
      </nav>
    </header>
    <hr>
    <main>
      <%= @inner_content %>
    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
