name: Performance Tests
run-name: Triggered from ${{ github.event_name }} by ${{ github.actor }}
on:
  workflow_call:

env:
  COMPOSE_PARALLEL_LIMIT: 1 # Temporary fix for https://github.com/docker/compose/pull/12752 until compose v2.36.0 lands on GitHub actions runners.

jobs:
  perf-tests:
    name: perf-tests
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    env:
      PORTAL_IMAGE: "ghcr.io/firezone/portal"
      PORTAL_TAG: ${{ github.sha }}
      ELIXIR_IMAGE: "ghcr.io/firezone/elixir"
      ELIXIR_TAG: ${{ github.sha }}
      GATEWAY_IMAGE: "ghcr.io/firezone/perf/gateway"
      GATEWAY_TAG: ${{ github.sha }}
      CLIENT_IMAGE: "ghcr.io/firezone/perf/client"
      CLIENT_TAG: ${{ github.sha }}
      RELAY_IMAGE: "ghcr.io/firezone/perf/relay"
      RELAY_TAG: ${{ github.sha }}
      FIREZONE_INC_BUF: true
    strategy:
      matrix:
        test:
          - tcp-client2server
          - tcp-server2client
          - udp-client2server
          - udp-server2client
        flavour:
          - direct
          - relayed
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/ghcr-docker-login
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/setup-docker
      - uses: ./.github/actions/setup-scripts
      - name: Seed database
        run: docker compose run elixir /bin/sh -c 'mix ecto.migrate && mix ecto.seed'
      - name: Increase max UDP buffer sizes
        run: |
          sudo sysctl -w net.core.wmem_max=16777216 # 16 MB
          sudo sysctl -w net.core.rmem_max=134217728 # 128 MB
      - name: Start docker compose in the background
        run: |
          if [ "${{ matrix.flavour }}" = "relayed" ]; then
            echo "CLIENT_MASQUERADE=random" >> "$GITHUB_ENV"
            echo "UDP_BITRATE=300M" >> "$GITHUB_ENV"
          fi

          docker compose build client-router gateway-router relay-1-router relay-2-router portal-router

          # Start services in the same order each time for the tests
          # Retries are used because network I/O is flaky in GitHub Actions runners
          retry docker compose up -d iperf3
          retry docker compose up -d portal --no-build
          retry docker compose up -d relay-1 relay-2 --no-build
          retry docker compose up -d gateway --no-build
          retry docker compose up -d client --no-build
          retry docker compose up -d network-config
      - name: "Performance test: ${{ matrix.flavour }}-${{ matrix.test }}"
        timeout-minutes: 5
        env:
          TEST_NAME: ${{ matrix.flavour }}-${{ matrix.test }}
        run: |
          ./scripts/tests/perf/${{ matrix.test }}.sh
          jq '{ "${{ matrix.flavour }}-${{ matrix.test }}": { "retransmits": { "value": (.end.sum_sent.retransmits // -1) }, "throughput": { "value": .end.sum_received.bits_per_second } } }' ./${{ matrix.flavour }}-${{ matrix.test }}.json > ./${{ matrix.flavour }}-${{ matrix.test }}.bmf.json
      - name: "Save performance test results: ${{ matrix.flavour }}-${{ matrix.test }}"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          overwrite: true
          name: ${{ matrix.flavour }}-${{ matrix.test }}-${{ github.sha }}-iperf3results
          path: ./${{ matrix.flavour }}-${{ matrix.test }}.bmf.json
      - name: Show Client logs
        if: "!cancelled()"
        run: docker compose logs client
      - name: Show Relay-1 logs
        if: "!cancelled()"
        run: docker compose logs relay-1
      - name: Show Relay-2 logs
        if: "!cancelled()"
        run: docker compose logs relay-2
      - name: Show Gateway logs
        if: "!cancelled()"
        run: docker compose logs gateway
      - name: Show Portal logs
        if: "!cancelled()"
        run: docker compose logs portal
      - name: Show iperf3 logs
        if: "!cancelled()"
        run: docker compose logs iperf3

      - name: Ensure no warnings are logged
        if: "!cancelled()"
        run: |
          docker compose logs client |
            grep "WARN" && exit 1 || exit 0

          docker compose logs gateway |
            grep "WARN" && exit 1 || exit 0

          # BTF doesn't load for veth interfaces
          docker compose logs relay-1 | \
            grep --invert "Object BTF couldn't be loaded in the kernel: the BPF_BTF_LOAD syscall failed." | \
            grep "WARN" && exit 1 || exit 0
          docker compose logs relay-2 | \
            grep --invert "Object BTF couldn't be loaded in the kernel: the BPF_BTF_LOAD syscall failed." | \
            grep "WARN" && exit 1 || exit 0

      - name: Ensure no UDP socket errors
        if: "!cancelled() && startsWith(matrix.test, 'tcp')"
        run: |
          docker compose exec client /bin/sh -c 'nstat -s' |
            grep -i "error" && exit 1 || exit 0

          docker compose exec gateway /bin/sh -c 'nstat -s' |
            grep -i "error" && exit 1 || exit 0

  upload-bencher:
    continue-on-error: true
    needs: perf-tests
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: bencherdev/bencher@2f1532643adc0e69e52acaec936d227ff14da24f # v0.5.9
      - name: Download performance test results
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: "*-${{ github.sha }}-iperf3results"
          merge-multiple: true
          path: ./${{ github.sha }}
      - name: Merge benchmarks results into one report
        run: jq -s 'reduce .[] as $item ({}; . * $item)' ./${{ github.sha }}/*.bmf.json > bmf.json
      - name: Report results to bencher
        run: |
          bencher run \
            --project firezone-1l75jv1z \
            --testbed github-actions \
            --file bmf.json \
            --adapter json \
            --branch "${{ env.BRANCH }}" \
            --github-actions ${{ secrets.GITHUB_TOKEN }} \
            --ci-only-on-alert
        env:
          BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
          BRANCH: "${{ github.ref_name }}"
