name: Build macOS/iOS app
on:
  workflow_call:
  workflow_dispatch:

jobs:
  update-release-draft:
    name: update-release-draft
    runs-on: ubuntu-24.04
    env:
      # mark:next-apple-version
      RELEASE_NAME: macos-client-1.5.11
    steps:
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        if: "${{ github.event_name == 'workflow_dispatch' && github.ref_name == 'main' }}"
        id: update-release-draft
        with:
          config-name: release-drafter-macos-client.yml
          tag: ${{ env.RELEASE_NAME}}
          version: ${{ env.RELEASE_NAME}}
          name: ${{ env.RELEASE_NAME}}
          commitish: ${{ github.sha }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    runs-on: macos-15
    env:
      XCODE_VERSION: "26.0"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: sudo xcode-select --switch "$(find /Applications -maxdepth 1 -name "Xcode*${XCODE_VERSION}*.app" | sort -V | tail -n 1)"
      - run: swift test
        working-directory: swift/apple/FirezoneKit

  build-ios:
    needs: update-release-draft
    uses: ./.github/workflows/_swift-build.yml
    with:
      rust-targets: aarch64-apple-ios
      build-script: scripts/build/ios-appstore.sh
      upload-script: scripts/upload/app-store-connect.sh
      artifact-file: Firezone.ipa
      platform: iOS
      is-dispatch: ${{ github.event_name == 'workflow_dispatch' }}
      is-main-branch: ${{ github.ref_name == 'main' }}
    secrets: inherit

  build-macos-appstore:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    needs: update-release-draft
    uses: ./.github/workflows/_swift-build.yml
    with:
      rust-targets: aarch64-apple-darwin x86_64-apple-darwin
      build-script: scripts/build/macos-appstore.sh
      upload-script: scripts/upload/app-store-connect.sh
      artifact-file: Firezone.pkg
      platform: macOS
      is-dispatch: ${{ github.event_name == 'workflow_dispatch' }}
      is-main-branch: ${{ github.ref_name == 'main' }}
    secrets: inherit

  build-macos-standalone:
    needs: update-release-draft
    uses: ./.github/workflows/_swift-build.yml
    with:
      rust-targets: aarch64-apple-darwin x86_64-apple-darwin
      build-script: scripts/build/macos-standalone.sh
      upload-script: scripts/upload/github-release.sh
      # mark:next-apple-version
      artifact-file: firezone-macos-client-1.5.11.dmg
      # mark:next-apple-version
      pkg-artifact-file: firezone-macos-client-1.5.11.pkg
      # mark:next-apple-version
      release-name: macos-client-1.5.11
      platform: macOS
      is-dispatch: ${{ github.event_name == 'workflow_dispatch' }}
      is-main-branch: ${{ github.ref_name == 'main' }}
    secrets: inherit
