name: Build macOS/iOS app
on:
  workflow_call:
  workflow_dispatch:

env:
  XCODE_VERSION: "26.0"
  # mark:next-apple-version
  RELEASE_NAME: macos-client-1.5.11
  # Common secrets used across jobs
  ISSUER_ID: "${{ secrets.APPLE_APP_STORE_CONNECT_ISSUER_ID }}"
  API_KEY_ID: "${{ secrets.APPLE_APP_STORE_CONNECT_API_KEY_ID }}"
  API_KEY: "${{ secrets.APPLE_APP_STORE_CONNECT_API_KEY }}"
  BUILD_CERT: "${{ secrets.APPLE_BUILD_CERTIFICATE_BASE64 }}"
  BUILD_CERT_PASS: "${{ secrets.APPLE_BUILD_CERTIFICATE_P12_PASSWORD }}"
  INSTALLER_CERT: "${{ secrets.APPLE_MAC_INSTALLER_CERTIFICATE_BASE64 }}"
  INSTALLER_CERT_PASS: "${{ secrets.APPLE_MAC_INSTALLER_CERTIFICATE_P12_PASSWORD }}"
  TEMP_DIR: "${{ runner.temp }}"
  NOTARIZE: "${{ github.event_name == 'workflow_dispatch' }}"

jobs:
  update-release-draft:
    name: update-release-draft
    runs-on: ubuntu-24.04
    steps:
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        if: "${{ github.event_name == 'workflow_dispatch' && github.ref_name == 'main' }}"
        id: update-release-draft
        with:
          config-name: release-drafter-macos-client.yml
          tag: ${{ env.RELEASE_NAME}}
          version: ${{ env.RELEASE_NAME}}
          name: ${{ env.RELEASE_NAME}}
          commitish: ${{ github.sha }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: sudo xcode-select --switch "$(find /Applications -maxdepth 1 -name "Xcode*${XCODE_VERSION}*.app" | sort -V | tail -n 1)"
      - run: swift test
        working-directory: swift/apple/FirezoneKit

  build-ios:
    name: build-ios
    needs: update-release-draft
    runs-on: macos-15
    env:
      ARTIFACT_PATH: "${{ runner.temp }}/Firezone.ipa"
      PLATFORM: iOS
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-tags: true
      - uses: ./.github/actions/setup-rust-stable
        with:
          targets: aarch64-apple-ios
      - uses: ./.github/actions/setup-rust-sccache
      - run: scripts/build/ios-appstore.sh
        env:
          IOS_APP_PROVISIONING_PROFILE: "${{ secrets.APPLE_IOS_APP_PROVISIONING_PROFILE }}"
          IOS_NE_PROVISIONING_PROFILE: "${{ secrets.APPLE_IOS_NE_PROVISIONING_PROFILE }}"
      - run: scripts/upload/app-store-connect.sh
        if: "${{ github.event_name == 'workflow_dispatch' }}"
      - name: Remove excluded paths before Sentry upload
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        run: rm -f "${{ runner.temp }}/dmg/Applications"
      - uses: ./.github/actions/upload-sentry-debug-files
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        with:
          sentry-auth-token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          sentry-project: apple-client
          paths: |
            ${{ runner.temp }}
            ./rust/target

  build-macos-appstore:
    name: build-macos-appstore
    needs: update-release-draft
    runs-on: macos-15
    env:
      ARTIFACT_PATH: "${{ runner.temp }}/Firezone.pkg"
      PLATFORM: macOS
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-tags: true
      - uses: ./.github/actions/setup-rust-stable
        with:
          targets: aarch64-apple-darwin x86_64-apple-darwin
      - uses: ./.github/actions/setup-rust-sccache
      - run: scripts/build/macos-appstore.sh
        env:
          MACOS_APP_PROVISIONING_PROFILE: "${{ secrets.APPLE_MACOS_APP_PROVISIONING_PROFILE }}"
          MACOS_NE_PROVISIONING_PROFILE: "${{ secrets.APPLE_MACOS_NE_PROVISIONING_PROFILE }}"
      - run: scripts/upload/app-store-connect.sh
        if: "${{ github.event_name == 'workflow_dispatch' }}"
      - name: Remove excluded paths before Sentry upload
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        run: rm -f "${{ runner.temp }}/dmg/Applications"
      - uses: ./.github/actions/upload-sentry-debug-files
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        with:
          sentry-auth-token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          sentry-project: apple-client
          paths: |
            ${{ runner.temp }}
            ./rust/target

  build-macos-standalone:
    name: build-macos-standalone
    needs: update-release-draft
    runs-on: macos-15
    env:
      # mark:next-apple-version
      ARTIFACT_FILE: firezone-macos-client-1.5.11.dmg
      # mark:next-apple-version
      PKG_ARTIFACT_FILE: firezone-macos-client-1.5.11.pkg
      ARTIFACT_PATH: "${{ runner.temp }}/firezone-macos-client-1.5.11.dmg"
      PKG_ARTIFACT_PATH: "${{ runner.temp }}/firezone-macos-client-1.5.11.pkg"
      PLATFORM: macOS
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-tags: true
      - uses: ./.github/actions/setup-rust-stable
        with:
          targets: aarch64-apple-darwin x86_64-apple-darwin
      - uses: ./.github/actions/setup-rust-sccache
      - run: scripts/build/macos-standalone.sh
        env:
          STANDALONE_MACOS_APP_PROVISIONING_PROFILE: "${{ secrets.APPLE_STANDALONE_MACOS_APP_PROVISIONING_PROFILE }}"
          STANDALONE_MACOS_NE_PROVISIONING_PROFILE: "${{ secrets.APPLE_STANDALONE_MACOS_NE_PROVISIONING_PROFILE }}"
          STANDALONE_BUILD_CERT: "${{ secrets.APPLE_STANDALONE_BUILD_CERTIFICATE_BASE64 }}"
          STANDALONE_BUILD_CERT_PASS: "${{ secrets.APPLE_STANDALONE_BUILD_CERTIFICATE_P12_PASSWORD }}"
          STANDALONE_INSTALLER_CERT: "${{ secrets.APPLE_STANDALONE_MAC_INSTALLER_CERTIFICATE_BASE64 }}"
          STANDALONE_INSTALLER_CERT_PASS: "${{ secrets.APPLE_STANDALONE_MAC_INSTALLER_CERTIFICATE_P12_PASSWORD }}"
      - name: Upload .dmg artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        with:
          name: macos-client-standalone-dmg
          path: "${{ env.ARTIFACT_PATH }}"
      - name: Upload .pkg artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        with:
          name: macos-client-standalone-pkg
          path: "${{ env.PKG_ARTIFACT_PATH }}"
      - name: Upload .dmg to GitHub release
        run: scripts/upload/github-release.sh
        if: "${{ github.event_name == 'workflow_dispatch' && github.ref_name == 'main' }}"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Upload .pkg to GitHub release
        run: scripts/upload/github-release.sh
        if: "${{ github.event_name == 'workflow_dispatch' && github.ref_name == 'main' }}"
        env:
          ARTIFACT_PATH: "${{ env.PKG_ARTIFACT_PATH }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Remove excluded paths before Sentry upload
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        run: rm -f "${{ runner.temp }}/dmg/Applications"
      - uses: ./.github/actions/upload-sentry-debug-files
        if: "${{ github.event_name == 'workflow_dispatch' }}"
        with:
          sentry-auth-token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          sentry-project: apple-client
          paths: |
            ${{ runner.temp }}
            ./rust/target
