<!DOCTYPE html>
<html lang="en">
  <head>
    <.live_title>
      <%= assigns[:page_title] || "Firezone" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={static_path("/dist/unprivileged.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={static_path("/dist/unprivileged.js")}
    >
    </script>
    <%= render(FzHttpWeb.SharedView, "socket_token_headers.html",
      current_user: @current_user,
      conn: @conn
    ) %>
    <%= render(FzHttpWeb.SharedView, "head.html", assigns) %>
  </head>
  <body>
    <section class="section hero is-fullheight is-error-section">
      <div id="app" class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
              <div class="block">
                <div class="has-text-centered">
                  <%= FzHttpWeb.LogoComponent.render(FzHttp.Config.fetch_config!(:logo)) %>
                </div>
              </div>

              <%= @inner_content %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
